apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: paperless-ngx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      nodeSelector:
        affected_vlan: "50"
      containers:
        - name: postgres
          image: docker.io/library/postgres:18
          envFrom:
            - configMapRef:
                name: db-cm 
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: paperless-ngx-secrets
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: pgdata
              mountPath: /var/lib/postgresql
      volumes:
        - name: pgdata
          persistentVolumeClaim:
            claimName: db-pvc