# apps/actual-budget/values.yaml
# Custom values for the Actual Budget subchart
actualbudget:
  # Resources
# Basic deployment
  replicaCount: 1
  strategy:
    type: Recreate

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 256Mi

  # Persistence
  persistence:
    enabled: true
    size: 20Gi
    existingClaim: "actual-budget-pvc"
    subPath: "actual-budget"
    accessModes:
      - ReadWriteOnce
    annotations:
      backup.kubernetes.io/enabled: "true"

  # Image configuration
  image:
    repository: actualbudget/actual-server
    pullPolicy: IfNotPresent

  # File storage
  files:
    dataDirectory: /data
    server: /data/server-files
    user: /data/user-files

#actualbudget:

# Extra resources (e.g., Certificate)
extraResources:
  - apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: actual-budget-pvc
      namespace: actual-budget
    spec:
      accessModes:
        - ReadWriteMany
      resources:
        requests:
          storage: 20Gi
      storageClassName: nfs-client
