# apps/actual-budget/values.yaml
# Custom values for the Actual Budget subchart
actualbudget:
  # Resources
# Basic deployment
  replicaCount: 1
  strategy:
    type: Recreate

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 256Mi

  # Persistence
  persistence:
    enabled: true
    size: 20Gi
    existingClaim: "actual-budget-pvc"
    subPath: "actual-budget"
    accessModes:
      - ReadWriteOnce
    annotations:
      backup.kubernetes.io/enabled: "true"

  # Image configuration
  image:
    repository: actualbudget/actual-server
    pullPolicy: IfNotPresent

  # File storage
  files:
    dataDirectory: /data
    server: /data/server-files
    user: /data/user-files

#actualbudget:

# Extra resources (e.g., Certificate)
extraResources:
  - apiVersion: cert-manager.io/v1
    kind: Certificate
    metadata:
      name: actual-budget-hoareau-marion-eu-tls
      namespace: actual-budget
    spec:
      secretName: actual-budget-hoareau-marion-eu-tls
      issuerRef:
        name: letsencrypt
        kind: ClusterIssuer
      dnsNames:
        - actual-budget.hoareau-marion.eu
  - apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: actual-budget-pvc
      namespace: actual-budget
    spec:
      accessModes:
        - ReadWriteMany
      resources:
        requests:
          storage: 20Gi
      storageClassName: nfs-client
  - apiVersion: gateway.networking.k8s.io/v1
    kind: HTTPRoute
    metadata:
      name: actual-budget-route
      namespace: actual-budget
      labels:
        app.kubernetes.io/instance: actual-budget
        app.kubernetes.io/managed-by: Helm
        app.kubernetes.io/name: actualbudget
        app.kubernetes.io/version: 25.10.0
        helm.sh/chart: actualbudget-1.8.3
      annotations:
        argocd.argoproj.io/sync-wave: "1"  
    spec:
      parentRefs:
        - name: base-gateway
          namespace: cluster-gateway 
      hostnames:
        - "actual-budget.hoareau-marion.eu"
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: "/"
          backendRefs:
            - name: actual-budget-actualbudget
              port: 5006
      tls:
        certificateRefs:
          - kind: Secret
            name: actual-budget-hoareau-marion-eu-tls  # Your per-route certificate
